* {
    padding: 0;
    margin: 0;
}

header {
    padding-top: 27px;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

header nav ul li {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    text-align: right;
    text-decoration: none;
    color: #000000;
}

h1 {
    font-family: Heebo;
    margin: 158px 106px 40px 0;
    font-size: 44px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0;
    text-align: left;
    color: #21243D
}

